
@{
    ViewBag.Title = "DealerPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DealerPage</h2>

@Html.ActionLink("Ga naar Autodatabase", "../autoes", "Index", new { id = "Button", area = "" })